<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
                        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
                        version="3.0">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>uk.nhs.interoperability.strategicauth.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticationRedirect</servlet-name>
  	<servlet-class>uk.nhs.interoperability.strategicauth.AuthenticationRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthenticationRedirect</servlet-name>
  	<url-pattern>/redirect</url-pattern>
  </servlet-mapping>
</web-app>
